<!DOCTYPE html>
<meta charset="utf-8">
<style>
.box {
  height:700px;
  width:500px;
  border: 5px solid black;
  padding:10px;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  }
  .box1{
  height:100px;
  width:100px;
  border: 5px solid black;
  padding: 10px;
  }
  .box3 {
  height:700px;
  width:500px;
  float:none;
  border: 5px solid black;
  padding:10px;
  margin:auto;
  }
  .box4{
  height:100px;
  width:100px;
  border: 5px solid black;
  padding: 10px;
  margin:auto;
  margin-top: 280px;
  } 
</style>
<body>
    <div class="box">
    <div class="box1">
    </div>
</div>
<br>
<br>
<div class="box3">
    <div class="box4">
    </div>
</div>
</body>
</html>
