
    .container{
        display:grid;
        justify-content:center;
        align-items:center;
        height:700px;
        width:500px;
        margin: auto;
        border: 5px solid black; 
        
    }
    .grid-items{
        border: 5px solid black;
        height:100px;
        width:100px;
    
    }
   
    </style>
    <body>
        <div class="container">
            <div class="grid-items"></div>
            </div>
    
