
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color:white;
    width: 600px;
    max-width:100%;
    padding:30px 50px;
    text-align: center;
    border-radius:5px;
  }
  .modal-content  {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    height:100%;
    width: 100%;
  }
  .modal-content p{
    opacity:0.7;

  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
